<div class="container">
  <div class="container-header-section">
    <h2 class="title">Destinations</h2>
    <button class="link" (click)="onViewImages()">{{showSlider ? 'See All': 'Slider View'}}</button>
  </div>
  <ng-container *ngIf="showSlider;else imageTemp">
    <ng-image-slider [images]="images"
                     [imagePopup]="false"
                     [infinite]="true"
                     [slideImage]="slideCount"
                     [imageSize]="imageSize"
                     #nav>
    </ng-image-slider>
  </ng-container>
  <ng-template #imageTemp>
    <div class="container-body-section">
     <app-image-list [images]="images"></app-image-list>
    </div>
  </ng-template>
</div>


